
<header>
  <div class=" container-fluid">
    <div class= "header row">
      <img class="col-12 col-md-3 col-lg-3" src="/images/logo.png" alt="logo" >
      <form id="search"  class="col-6 col-md-5 col-lg-6" action="search.php" method="GET">
        
          <input  type="text" name="search" width=100% placeholder="Busca por nombre o categoría">
          <button type="submit" ><i class="fas fa-search"></i> </button>
      
      </form>
      <div class="log col-6 col-md-4 col-lg-3">
        <a href="/dashboard">dashboard</a>
        <a href="/users/login">INGRESAR</a>
        <a href="/users/signup">REGISTRARSE</a>
      </div>
    </div>
  </div>
  
  <nav class=" container">
    <div class= "row">
      <div class="col-12 col-md-2 col-lg-2">
        <a href="/">INICIO</a>
      </div>
      <div class="col-12 col-md-2 col-lg-2">
        <a href="/collection">COLECCIÓN</a>
      </div>
      <div class="col-12 col-md-2 col-lg-2">
        <a href="/">TENDENCIA</a>
      </div>
      <div class="col-12 col-md-2 col-lg-2">
        <a href="/">QUIÉNES SOMOS</a>
      </div>
      <div class="col-12 col-md-2 col-lg-2">
        <a href="/">CONTACTO</a>
      </div>
      <div class="col-12 col-md-2 col-lg-2">
        <a href="/cart">CARRITO</a>
      </div>
    </div>
  </nav>
</header>