<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> NAM Studio </title>
  <link rel="shortcut icon" type= "image/x-icon" href="/images/nam4x.png">
    	<!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/aboutUs.css'>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/eb81e2a038.js" crossorigin="anonymous"></script>
</head>
<body>
 <%- include('./partials/header.ejs') %> 
      
      <div class="container">
       <div class="row">
         <div class="quienes col-12 titulo">
           QUIENES SOMOS
          </div>
        </div> 
      
      
      
        <div class="row">
        
        
        <div class="card col-12 col-md-6 col-lg-4" style="width: 18rem;">
        <img src="./images/mision.png" class="card-img-top" alt="mision">
        <div class="card-body">
          <h5 class="card-title">Mision</h5>
          <p class="card-text">Somos un equipo que busca darle color a la vida, iluminar las diferencias y promover la diversidad.</p>
        </div>
      </div>

        <div class="card col-12 col-md-6 col-lg-4" style="width: 18rem;">
          <img src="./images/vision.png" class="card-img-top" alt="vision">
          <div class="card-body">
            <h5 class="card-title">Vision</h5>
            <p class="card-text">Ser las diseñadores de estampas elegidas por las marcas premium del mundo.</p>
          </div>
        </div>

          <div class="card col-12 col-md-6 col-lg-4" style="width: 18rem;">
            <img src="./images/valores.png" class="card-img-top" alt="valores">
            <div class="card-body">
              <h5 class="card-title">Valores</h5>
              <p class="card-text">Nos caracterizan el respeto por los demás, la calidad de nuestro trabajo, el compromiso con nuestros clientes y la originalidad de nuestros productos.</p>
            </div>
          </div>
    </div>
  </div>
    <%- include('./partials/footer.ejs') %>     
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/javascripts/cargaProductoValidator.js"></script>
    </body>
    </html>
    