<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> NAM Studio </title>
  <link rel="shortcut icon" type= "image/x-icon" href="/images/nam4x.png">
  <!-- Font Awesome Stylesheet -->
  <script src="https://kit.fontawesome.com/eb81e2a038.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/cargaproducto.css'>
  
</head>

<body>
  <%- include('./partials/header.ejs') %>
  
  <div class="form container">
    <form class="row" method="post" action= "/collection/cargaProducto" enctype="multipart/form-data">
      <div class="col-12 col-md-6 col-lg-6">
        <label for="idArticle">ID de Articulo</label></br>
        <input type="text" name="idArticle"  value="idArticle" placeholder="Id de 6 números">
      </br>
      <label for="design">Nombre de diseño</label></br>
      <input type="text" placeholder="Nobre del diseño" name="design" value="design">
    </br>
    <label for="detail">Detalle</label></br>
    <textarea name="detail"  value="detail"></textarea>
  </br>
  <label for="categories">Categorias</label></br>
  <select name="categories"  value="categories">
    <option value= "animal" selected>ANIMAL PRINT</option>
    <option value= "abstract" selected>ABSTRACTOS</option>
    <option value= "geometric" selected>GEOMETRICOS</option>
    <option value= "floral" selected>FLORALES</option> 
    <option value= "figurative" selected>FIGURATIVOS</option>
    <option value= "ornamental" selected>ORNAMENTALES</option>
  </select>
</div>

<div class="col-12 col-md-6 col-lg-6">
  <label for="colorways">Upload colorways</label></br>
  
  <input type="file" name="colorways" onchange="document.getElementById('cw1').src = window.URL.createObjectURL(this.files[0]), document.getElementById('cw2').src = window.URL.createObjectURL(this.files[1]), document.getElementById('cw3').src = window.URL.createObjectURL(this.files[2])" multiple>
  <img id="cw1" alt="CW" height="150px"/>  
  <img id="cw2" alt="CW" height="150px"/>
  <img id="cw3" alt="CW" height="150px"/>
  
</br>
<label for="exclusive">Exclusivo</label> 
<input type="checkbox" name="exclusive" value="true">
<div id="cargar">
  <button  type="submit">CARGAR</button>
</div>
</div> 
</form>
</div> 
<%if (typeof errors != 'undefined'){%>
<ul type= "none">
  <% for (let i=0; i <errors.length; i++){%>
    <li><%= errors[i].msg %></li>
  <%}%>
</ul>
<%} else{ " "}%>
<%- include('./partials/footer.ejs') %>

<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/jquery.js"></script>
<script src="/javascript/popper.js"></script>

</body>
</html>