<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> NAM Studio </title>
  <link rel="shortcut icon" type= "image/x-icon" href="/images/nam4x.png">
    	<!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/contact.css'>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/eb81e2a038.js" crossorigin="anonymous"></script>
</head>
<body>
 <%- include('./partials/header.ejs') %> 
      
      <div class="container">
       <div class="row">
         <div class="quienes col-12 titulo">
           CONTACTO
          </div>
        </div> 
      

      <ul class="list-unstyled">
        <li class="media my-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.185760606548!2d-58.44583248454253!3d-34.54885178047374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436f18dc22f%3A0x36090a5d367889c6!2sAv.%20Monroe%20860%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1595790539214!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mr-3 maps" alt="NamStudio-Buenos Aires"></iframe>
          <div class="media-body">
            <h5 class="mt-0 mb-1">NamStudio - Buenos Aires</h5>
            <p><a href="mailto:info@namstudio.com"><i class="fas fa-envelope"></i>      info@namstudio.com</a><br>
            <a href="tel:+541144893322"><i class="fas fa-phone-alt"></i>      +54 11 4489 3322</a><br>
            <i class="fas fa-map-marker-alt"></i>      Monroe 860, 1428 Ciudad Autonoma de Buenos Aires, Argentina
          </div>
        </li>
        <li class="media my-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d759.4184904667119!2d-3.7075777707755044!3d40.41607301976916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287ec387b6e1%3A0x9494a50c67b1666d!2sCalle%20de%20Felipe%20III%2C%202%2C%2028012%20Madrid%2C%20Espa%C3%B1a!5e0!3m2!1ses-419!2sar!4v1595790146811!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mr-3 maps" alt="NamStudio-Madrid"></iframe>
            <div class="media-body">
              <h5 class="mt-0 mb-1">NamStudio - Madrid</h5>
              <p><a href="mailto:paris@namstudio.com"><i class="fas fa-envelope"></i>      madrid@namstudio.com</a><br>
              <a href="tel:+34915472800"><i class="fas fa-phone-alt"></i>      +34 915 47 28 00</a><br>
              <i class="fas fa-map-marker-alt"></i>       Calle de Felipe III, 2, 28012 Madrid, España
            </div>
          </li>
          <li class="media my-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1312.2947174502979!2d2.304451821138642!3d48.86603895903329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdca0d10c33%3A0x630ad8671bdf16d9!2s22%20Avenue%20Montaigne%2C%2075008%20Paris%2C%20Francia!5e0!3m2!1ses-419!2sar!4v1595788555946!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"class="mr-3 maps" alt="NamStudio-Paris"></iframe>
            <div class="media-body">
              <h5 class="mt-0 mb-1">NamStudio - Paris</h5>
              <p><a href="mailto:paris@namstudio.com"><i class="fas fa-envelope"></i>      paris@namstudio.com</a><br>
              <a href="tel:+331802720085"><i class="fas fa-phone-alt"></i>      +33 (1) 8 0272 0085</a><br>
              <i class="fas fa-map-marker-alt"></i>       22 Avenue Montaigne, 75008 Paris, Francia
            </div>
          </li>
      </ul>
    </div>
    
    <%- include('./partials/footer.ejs') %>     
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/javascripts/cargaProductoValidator.js"></script>
    </body>
    </html>