
body{
  width:100%;
   font-family: roboto;
   color: #666666;
   text-align: center;
   background-image: url(/images/back.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
 }
 
 header{
   padding-top: 15px;
   padding-bottom: 5px;
 }
 .container{
  padding-left: 0;
  padding-right: 0;
 }
 #search input{
   border: solid 1px #cacaca;
   color:#cacaca;
   width:60%;
   border-radius: 5px;
 }
 
 #search button{
   background-color: white;
   border: none;
   color: #666666;
 }
 #search button:hover{
 color:  rgb(190, 10, 10);
 }
 .header{
   justify-content: space-between;
 
 }
 .log{
   text-align: right;
 }
 .log a{
   background-color: #cacaca;
   border-radius: 5px;
   color:white;
   font-size: 0.7em;
   padding: 1vh 2% ;
 }
 a{
  color: #666666;
  text-align: center;
}

header{
  padding-top: 15px;
  padding-bottom: 5px;
}
.container-fluid{
  width:100%;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
}
#search input{
  border: solid 1px #cacaca;
  color:#cacaca;
  width:60%;
  border-radius: 5px;
}

#search button{
  background-color: white;
  border: none;
  color: #666666;
}
#search button:hover{
color:  rgb(190, 10, 10);
}
.header{
  justify-content: space-between;

}
.log{
  text-align: right;
}
.log a{
  background-color: #cacaca;
  border-radius: 5px;
  color:white;
  font-size: 0.7em;
  padding: 1vh 2% ;
}


a{
  color: #666666;
  text-decoration: none;
}
a:hover{
  color: rgb(190, 10, 10);
  text-decoration: none;
}
nav{
  padding: 0.2vh 0;
}

footer {
  background-color:  #cacaca;
  width:100%;
  padding-left:0;
  padding-right: 0;
  padding-top: 2vh;
line-height: 4vh;
  align-items: center;
}
.row{
margin-left:0;
margin-right: 0;
}

footer ul{
  padding-inline-start: 0px;
  line-height: 30px;

}
@media (max-width: 425px) {
  html {
    font-size: 10px;
  }
  nav{
    margin-top: 0.5vh;
  }
.log{
  padding-left:0;
  padding-right: 4px;
}
nav div{ 
background-color: #cacaca;
border-top: solid 1px white;
}
}
@media (min-width: 576px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
   
   .container-carrito {
     width: 90%;
     margin-top: 2%;
     margin-bottom: 20%;
     margin-left: 5%;
     margin-right: 10%;
     align-items: baseline;
     justify-content: space-evenly;
   }
   .container-carrito .row{
    padding-top: 1%;
    justify-items: left;
    align-items:center;
   }
   .container-carrito .d-block {
     width: 40%;
     justify-content: center;
     align-items: center;

   }
   div.row.titulo{
    margin-bottom: 2%;
    font-size: 25px;
    justify-content: left;
   }
   .fa-trash-alt:hover{
    color: rgb(190, 10, 10);
   }
   
   button{
     text-align: center;
   }