
body{
    width:100%;
     font-family: roboto;
     color: #666666;
     text-align: center;
     background-image: url(/images/back.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
   }
   
   header{
     padding-top: 15px;
     padding-bottom: 5px;
     padding-left: 2%;
     padding-right: 2%;
   }
   .container{
    padding-left: 0;
    padding-right: 0;
   }
   form#search button{
       background-color: rgba(0,0,0,0);
   }
   #search button:hover{
   color:  rgb(190, 10, 10);
   }
   .header{
     justify-content: space-between;
   
   }
   .log{
     text-align: right;
   }
   .log a{
     background-color: #cacaca;
     border-radius: 5px;
     color:white;
     font-size: 0.7em;
     padding: 1vh 2% ;
   }
   a{
    color: #666666;
    text-align: center;
  }
  
 
  a:hover{
    color: rgb(190, 10, 10);
    text-decoration: none;
  }
  nav{
    padding: 0.2vh 0;
  }
  
  footer {
    background-color:  #cacaca;
    width:100%;
    padding-left:0;
    padding-right: 0;
    padding-top: 2vh;
  line-height: 4vh;
  position: relative;
  bottom:0;
    align-items: center;
  }

  
  footer ul{
    padding-inline-start: 0px;
    line-height: 30px;
  
  }
  @media (max-width: 425px) {
    html {
      font-size: 11px;
    }
    nav{
      margin-top: 0.5vh;
    }
  .log{
    padding-left:0;
    padding-right: 4px;
  }
  nav div{ 
  background-color: #cacaca;
  border-top: solid 1px white;
  }
  }
  @media (min-width: 576px) {
    html {
      font-size: 15px;
    }
  }
  @media (min-width: 992px) {
    html {
      font-size: 17px;
    }
    .form div .col-12{
margin: 0  10%;

    }
  }
  @media (min-width: 1200px) {
    html {
      font-size: 20px;
    }
    .form div.row{
        margin-left: 15%;
    }
    .form div .col-12{
        margin: 0  5%;
        
            }
   
  }
  

  .form{
    margin: 5vh auto;
    padding-left: 0%;
    padding-right: 0%;
    line-height: 5vh;
  }
  
  .cws{
    margin: 2vh 0;
  }
  
  select{
    color: #666666;
  }
  button{
    background-color: rgb(190, 10, 10);
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 1em;
    padding: 0.3vh 1% ;
    width: 150px;
    margin: 1vh 0;
  }
  button:hover{
    background-color: #cacaca;
    color: rgb(190, 10, 10);
  }
  
  #cargar{
  
  text-align: right;
  
  }