
body{
  width:100%;
   font-family: roboto;
   color: #666666;
   text-align: center;
   background-image: url(/images/back.jpg);
   background-size: 100%;
   background-repeat: no-repeat;

 }
 /* Inicio Header */

header{
  padding-top: 15px;
  padding-bottom: 5px;
}
#search input{
  border: solid 1px #cacaca;
  color:#cacaca;
  width:60%;
  border-radius: 5px;
}
#search button{
  background-color: white;
  border: none;
  color: #666666;
}
#search button:hover{
color:  rgb(190, 10, 10);
}
.header{
  justify-content: space-between;
}
.log{
  text-align: right;
}
.log a{
  background-color: #cacaca;
  border-radius: 5px;
  color:white;
  font-size: 0.7em;
  padding: 1vh 2% ;
}
a{
  color: #666666;
  text-decoration: none;
}
a:hover{
  color: rgb(190, 10, 10);
  text-decoration: none;
}
nav{
  padding: 0.2vh 0;
}
/* Fin Header */

.container{
  padding: 15px 0 ;
}

#carouselExampleControls{
   width: 80%;
}
#cw1{
  transition:transform 400ms;
  transform-origin:top left;
}

li{
  margin: 1vh 0;
}
#detalle{
text-align: left;
}
.carrito{
  align-self: flex-end;

}
.similares{
  padding-top: 5vh;
}
.cards{
padding: 0 5%;
}
.btn-secondary{
  background-color: #cacaca;
  border-color:#cacaca;
  padding: .05vh 5%;  
}
.btn-secondary:hover{
color: rgb(190, 10, 10);
background-color: #666666;
border-color: #666666;
}
.btn-danger:hover{
background-color:#666666;
border-color:#666666;
color:rgb(190, 10, 10);
}
/* Inicio Footer */
footer {
  background-color:  #cacaca;
  width:100%;
  padding-left:0;
  padding-right: 0;
  padding-top: 2vh;
line-height: 4vh;
position: relative;
bottom:0;
  align-items: center;
}
.row{
margin-left:0;
margin-right: 0;
}
footer ul{
  padding-inline-start: 0px;
  line-height: 30px;
}
/* Fin Footer */

@media (max-width: 425px) {
  html {
    font-size: 10px;
  }
  ul{
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    li{
    width:25%;
    }
    nav{
      margin-top: 0.5vh;
    }
  .log{
    padding-left:0;
    padding-right: 4px;
  }
  nav div{ 
  background-color: #cacaca;
  border-top: solid 1px white;
  }
  }
@media (min-width: 576px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

